#root {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.todontlist {
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, #d6d689 0%,#fbfca9 100%);
    border-radius: 4px;
    min-height: 700px;
    height: fit-content;
    .explanation {
        font-size: 1rem;
        margin: 2rem 0;
        border-bottom: 1px solid black;
    }
    .form-container {
        margin-top: auto;
        form {
            margin-top: auto;
            background-color: aliceblue;
            align-self: flex-end;
            label {
                margin: 1rem;
                input {
                    margin: 1rem;
                    height: 40px;
                    width: 150px;
                    border-radius: 4px;
                    border: none;
                    font-size: 1.5rem;
                    padding: 0.5rem 1rem;
                    resize: horizontal;
                    overflow: auto;
                }
            }
            button {
                height: 40px;
                width: 100px;
                border-radius: 4px;
                border: none;
                background-color: yellowgreen;
                margin: 1rem;
                font-size: 1.5rem;
                &:hover {
                    background-color: green;
                }
            }
        }
    }
}

