* {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family:
        'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
}

form {
    background-color: aliceblue;
    label {
        margin: 1rem;
        input {
            margin: 1rem;
            height: 40px;
            width: 150px;
            border-radius: 4px;
            border: none;
        }
    }
    button {
        height: 40px;
        width: 100px;
        border-radius: 4px;
        background-color: aquamarine;
        margin: 1rem;

        &:hover {
            background-color: darkcyan;
        }
    }
}

#root {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.todontlist {
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, #d6d689 0%,#fbfca9 100%);
    border-radius: 4px;
}